@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection { 
    color: #f8f1eb;
    background: #1a1818;
  }
  
  ::selection {
    color: #f8f1eb;
    background: #1a1818;
  }


body {
    background-color: #1a1818;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Vertical Sidebar */
.sidebar {
    font-family: "Share Tech Mono", monospace;
    font-size: 200;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5vw;
    background-color: #1a1818;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar a {
    position: relative;
    color: #f8f1eb;
    text-decoration: none;
    transition: color 0.3s;
    display: inline-block;
}

.sidebar a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: width 0.3s ease-in-out;
}

.sidebar a:hover::before {
    width: 100%;
}

.sidebar a:hover {
    color: #ffffff7e;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8f1eb;
}

.vertical-text {
    transform: rotate(-90deg);
    text-transform: uppercase;
    letter-spacing: 0.3vw;
}

.divider {
    width: 0.1vw;
    height: 20vh;
    background-color: #fff;
    border: none;
    margin: 20vh 0;
}

/* Main Container for 'About' Page */
.about-container {
    padding-top: 10vh;
    padding-left: 5vw;
    text-align: center;
    width: 100vw;
    transform: translateY(100vh);
    transition: transform 1s ease; 
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f1eb;
    transform: translateY(100vh); 
    
}

/* Large About Title */
.main-title {
    font-family: 'june-expt-variable', sans-serif;
    font-variation-settings: 'STYL' 100;
    font-size: 10vw;
    font-weight: 700;
    color: #1a1818;
    margin-bottom: 5vh;
    line-height: 10vh;
}

/* Bottom Section */
.bottom-section {
    max-width: 75vw;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.right{
    padding-top: 1vh;
}
/* Column Styling */
.column {
    width: 45%;
}

/* Column Titles */
.column h2 {
    font-family: 'june-expt-variable', sans-serif;
    font-variation-settings: 'STYL' 50;
    font-size: 2vw;
    color: #1a1818;
    margin-bottom: 2vh;
}

.column p {
    font-size: 1.2vw;
    line-height: 4.5vh;
    color: #444;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.button {
    font-family: 'june-expt-variable', sans-serif;
    font-variation-settings: 'STYL' 50;
    display: inline-block;
    padding: 0.75vw 3vh;
    font-size: 1vw;
    color: #f8f1eb;
    background-color: #1a1818;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    letter-spacing: 0.1vw;
    width: 10vw;
    height: 5vh;
}

.button:hover {
    background-color: #333;
    border-color: #f8f1eb;
}

@media (min-width: 2200px) {

    .divider {
        margin: 10vh;
    }

    .about-container {
        align-items: center;
        display:flexbox;
        max-width: 50vw;
        max-height: 70vh;
    }

    .main-title {
        font-size: 5vw;
    }

    .bottom-section {
        max-width: 40vw;
    }
    
    .column h2 {
        font-size: 1.3vw;
    }

    .column p {
        font-size: 0.7vw;
    }

    .button {
        padding: 0.5vw 3vh;
        font-size: 1vw;
        width: 10vw;
        height: 5vh;
    }
}

@media (max-width: 1024px) {

    .sidebar {
        width: 10vw;
    }

    .main-title {
        font-size: 15vw;
    }

    .column {
        width: 100%;
        margin-bottom: 40px;
    }

    .column h2 {
        font-size: 3vw;
    }

    .column p {
        font-size: 2vw;
    }

    .button {
        padding: 1vw 3vh;
        font-size: 2vw;
        width: 15vw;
        height: 5vh;
    }
}


@media (max-width: 768px) {
    .sidebar {
        width: 12vw;
    }

    .main-title {
        padding-left: 8vw;
        font-size: 15vw;
    }

    .bottom-section {
        padding-left: 5vw;
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 100%;
        margin-bottom: 40px;
    }

    .column h2 {
        font-size: 4vw;
    }

    .column p {
        font-size: 3vw;
    }

    .button {
        
        padding: 2.3vw 3vh;
        font-size: 3vw;
        width: 20vw;
        height: 5vh;
    }
}

@media (max-width: 425px) {
    .button {
        padding: 2.5vw 3vh;
        font-size: 4vw;
        width: 28vw;
        height: 5vh;
    }
}

@media (max-width: 375px) {
    .main-title {
        font-size: 18vw;
    }

    .column {
        width: 100%;
        margin-bottom: 40px;
    }

    .column h2 {
        font-size: 6vw;
    }

    .column p {
        font-weight: 500;
        font-size: 3vw;
    }
    .button {
        padding: 3vw 3vh;
        font-size: 5vw;
        width: 38vw;
        height: 5vh;
    }
}