@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection { 
    color: #1a1818;
    background: #f8f1eb;
  }
  
  ::selection {
    color: #1a1818;
    background: #f8f1eb;
  }

  
body {
    background-color: #f8f1eb;
    font-family: "june-expt-variable", sans-serif;
    font-variation-settings: "STYL" 50;
    color: #f8f1eb;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #121212;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vw;
    transform: translateY(200vh);
    transition: all 1s ease;
}

.content {
    max-width: 40vw;
}

h1.hello {
    font-size: 12vw;
    font-weight: normal;
    letter-spacing: -0.05em;
}

h1.hello span {
    color: #f5f5f5; 
}

.subtext {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    margin: 1vw 0;
    color: #d4d4d4;
}

.contact p {
    font-family: "Montserrat", sans-serif;
    margin: 0.5vw 0;
    font-size: 1vw;
    color: #d4d4d4;
}

.contact a {
    font-family: "Montserrat", sans-serif;
    color: #f5f5f5;
    text-decoration: none;
    border-bottom: 0.5vh solid transparent;
    transition: border-color 0.3s ease;
}

.sidebar {
    font-family: "Share Tech Mono", monospace;
    font-size: 200;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5vw;
    background-color: #1a1818;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar a {
    position: relative;
    color: #f8f1eb;
    text-decoration: none;
    transition: color 0.3s;
    display: inline-block;
}

.sidebar a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: width 0.3s ease-in-out;
}

.sidebar a:hover::before {
    width: 100%;
}

.sidebar a:hover {
    color: #ffffff7e;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8f1eb;
}

.vertical-text {
    transform: rotate(-90deg);
    text-transform: uppercase;
    letter-spacing: 0.3vw;
}

.divider {
    width: 0.1vw;
    height: 20vh;
    background-color: #fff;
    border: none;
    margin: 20vh 0;
}

@media (min-width: 2200px) {

    body {
       
        background-color: #121212;
    }

    .sidebar {
        background-color: #121212;
    }

    .sidebar p{
        letter-spacing: 0.1vw;
    }

    .divider {
        margin: 20vh;
    }

    .container {
        align-items: center;
        display:flexbox;
        max-width: 50vw;
        max-height: 100vh;
    }

    .subtext {
        max-width: 40vw;
    }
    
    h1.hello {
        font-size: 7vw;
    }

    .subtext {
        font-size: 1vw;
    }
}

@media (max-width: 768px) {
    body {
        overflow: hidden;
        align-items: center;
        max-height: 120vh;
    }
    .container {
        overflow: hidden;
        min-width: 100vw;
        flex-direction: column;
        text-align: center;
    }

    h1.hello {
        padding-left: 8vw;
        font-size: 10vw;
    }

    .subtext {
        margin-top: 5vh;
        width: 100vw;
        padding-right: 52vw;
        font-size: 2vw;
        margin-bottom: 10vh;
    }

    .contact {
        padding-left: 9vw;
    }
    .contact p {
        font-size: 2vw;
    }

    .contact a {
        font-size: 2vw;
    }

    .sidebar {
        width: 12vw;
    }

}

@media (max-width: 475px) {
    body {
        align-items: center;
    }
    h1.hello {
        padding-left: 2vw;
        font-size: 16vw;

        padding-bottom: 10vh;
    }
    .subtext {
        margin-top: 0;
        width: 150vw;
        padding-right: 95vw;
        font-size: 5vw;
        margin-bottom: 10vh;
    }

    .contact {
        padding-left: 0vw;
    }
    .contact p {
        display: none;
    }

    .contact a {
        font-size: 4vw;
    }

    .sidebar {
        width: 13vw;
    }
}

@media (max-height: 800px) and (orientation: landscape) {
    body {
        max-width: 100vw;
        max-height: 100vh;
    }
}