.pixelBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 9999;
    pointer-events: none;
}

.column {
    width: 5vw;
    height: 100vh; /* Assure que chaque colonne prend toute la hauteur */
    display: flex;
    flex-direction: column;
}

.block {
    width: 100%;
    height: 5vh; /* Utilisation de vh pour couvrir 100% */
    background-color: #ffffff;
    opacity: 0;
}
